/*스타일 초기화 과정*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
*{font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box; color:#212121; }
html{ font-size:13px;}
body{margin:0;}/*초기화 해줘야 정확한 여백 조정이 가능함.*/
a{text-decoration:none;}
ul, ol{list-style:none; margin:0; }
dl, dt, dd, p{margin:0;}

/** 헤더 - 로고, 검색 영역 S*/
header {display:flex;justify-content:space-between; height:66px;
border-bottom: 1px solid #e6e6e6; align-items: center; padding:
 0 15px;}
header .logo_link img {height:34px;}
header > div i { font-size: 25px;}
header .left a:first-of-type { margin-right:10px;}
header .right a:last-of-type { margin-left: 10px;}
/** 헤더 - 로고, 검색 영역 E*/

/** 메인 - 네비게이터 S*/
nav {display: flex;}
nav a{width:0; flex-grow:1; text-align:center; height:44px; line-height:
        44px;}
/** 메인 - 네비게이터 E*/

/** 메인 -메인 베너 */
#main_banner img{ width:100%; display:block;}

/** 메인 - 바로가기 메뉴*/
#direct_menu {display:flex; flex-wrap:wrap;}
#direct_menu { width:calc(100% / 3); text-align:center; font : 
    1.077rem; height:50px; line-height:50px; border-bottom: 1px
solid #ededed;}
#direct_menu a+a { border-left:1px solid #ededed;}